.submitWrapperStyleClass{
	border: 0px solid black;
	margin:0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px
}
.submitHiddenStyleClass{
	margin:0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px; 
	border: 0px; 
	width:1px;
	height:1px;
	z-index:-1;
	float:left;
}
/*divWindows*/
input.readOnlyClass{
	background-color:#E4E4E4;
}
.divWindowTitle{
	border:0px solid black;
	background-color: #B1B9C7;
	color: white;
	text-align: center;
	font-weight: bold;
}
.sdmFloatDivWindow{
	position:absolute;
	left:50%;
	top:150px;
	border: 1px solid #B1B9C7;
	padding: 2px 2px 2px 2px;
	background-color: white;
}
.sdmHiddenDivWindow{
	display:none;
}

/* Containers */
.sdmContainerClass{
	border: 1px solid #B1B9C7;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color:#818DA5; 
}
/*Tabs*/
.classsdmTabMenu{
	margin: 0px 0px 0px 0px;		
	padding: 0px 0px 0px 0px;		
}
.classsdmTabMenu ul{
	margin: 0px 0px 0px 0px;		
	padding: 0px 0px 0px 0px;		
}
.classsdmTabContent{
	margin: 0px 0px 10px 0px;		
	padding: 0px 0px 0px 0px;		
}
.classsdmTabContent table.sdmDetailClass{
	border: 1px dashed #B1B9C7;
	padding: 5px 5px 5px 5px;		
}

/* Navigation */
th.navigationArrowClass{
	width:5px;
	cursor:pointer;
	font-size: 15px;
	font-weight: bold;
}
th.navigationArrowDisabledClass{
	width:5px;
	cursor:auto;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
input.searchButton{
	cursor:pointer;
}
input.clearButton{
	cursor:pointer;
}
/* Errors */
.sdmErrorMessageClass{
	color: #f00;
	font-weight:bold; 
	text-align:center; 
}
div.sdmErrorClass{
	float: left;
	width: 99%;
	color: #f00;
	border-top: 1px solid #AA0000;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
}
input.sdmErrorClass{
	border:1px solid #FF0000;
	background-color:#FFCCCC;
}
select.sdmErrorClass{
	border:1px solid #FF0000;
	background-color:#FFCCCC;
}
.error_field_{
    border: 1px solid #FF0000;
    background-color: #FFCCCC;
}

table.blueDetailClass tr th.blueDetailSubtitleClass{
	background-color: white;
	text-decoration: underline;
}
.classViewDetails{
	height:20px; 
	width:20px;
	vertical-align:middle;
	text-align:left;
	background-image: url('../../../../images/icons/docs_folders_and_files/view_document_1/view_document_1_16_h_g.gif');	
	background-repeat:no-repeat;
	background-position:2 2;
	cursor: pointer;
}

table.data th a{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: transparent;
	vertical-align: middle;
	border: 0px solid black;
	height: auto;
	width: auto;
	text-align: center;
}
table.data th a:hover{
	color: auto;
	border: 0px solid black;
}
table.data th a img{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: transparent;
	vertical-align: middle;
	border: 0px solid black;
}
table.data td a{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	background-color: transparent;
	border: 0px solid black;
	height: auto;
	width: auto;
	text-align: center;
}
table.data td a:hover{
	color: auto;
	border: 0px solid black;
}
table.data td a img{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: transparent;
	vertical-align: middle;
	border: 0px solid black;
}
table.data th {
	background-color:#FFCC33;
	color:#747474;
	font-family:arial,verdana;
	font-size:12px;
	font-weight:bold;
	padding:3px 5px;
	text-align:left;
	text-transform:capitalize;
	vertical-align: middle;
}
table.data tbody td {
	color:#747474;
	font-family:arial,verdana;
	font-size:11px;
	font-weight:normal;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
	vertical-align:top;
}
table.data td {
	vertical-align:middle;
}
table.data tr.selected td *{
	font-weight: normal;
}
table.data tbody tr td.selected{
	background-color:#B1B9C7;
	color: white;
	font-weight: normal;
	cursor: pointer;
}
table.data tr.selected td{
	background-color:#B1B9C7;
	color: white;
	font-weight: normal;
	cursor: pointer;
}
table.data tbody tr.selected td{
	background-color:#B1B9C7;
	color: white;
	font-weight: normal;
	cursor: pointer;
}

input.classButton{
	background-color:#F2F2F2;
	border:1px solid;
	color:#747474;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	height:22px;
	margin:3px;
	padding:2px;
	text-decoration:none;
	text-transform:capitalize;
	cursor: pointer;
}
input.searchButton{
	border:solid 0px #7f9db9; 
	background-color:transparent; 
	background-image:url('../../../../images/icons/docs_folders_and_files/view_document_2/view_document_2_16_d_g.gif'); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:22px; 
	height:22px;
}
input.clearButton{
	border:solid 0px #7f9db9; 
	background-color:transparent; 
	background-image:url('../../../../images/icons/miscellaneous/eraser/eraser_16_d_g.gif'); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:22px; 
	height:22px;
}
td.inCustomerPortfolio{
	border:solid 0px #7f9db9; 
	background-color:transparent; 
	background-image:url('../../../../images/icons/signs_and_symbols/green_checkmark/green_checkmark_16_h_g.gif'); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:22px; 
	height:22px;
}
td.notInCustomerPortfolio{
	border:solid 0px #7f9db9; 
	background-color:transparent; 
	background-image:url('../../../../images/icons/signs_and_symbols/red_delete/red_delete_16_h_g.gif'); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:22px; 
	height:22px;
}
a.classModifyData{
	border:solid 0px #7f9db9; 
	background-color:transparent; 
	background-image:url('../../../../images/icons/common_toolbar/edit/edit_16_h_g.gif'); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:22px; 
	height:22px;
}
a.classDeleteData{
	border:solid 0px #7f9db9; 
	background-color:transparent; 
	background-image:url('../../../../images/icons/common_toolbar/stop_document/stop_document_16_h_g.gif'); 
	background-repeat:no-repeat; 
	background-position:center; 
	width:22px; 
	height:22px;
}
a.linkClass{
	font-family: arial,verdana;
	font-size: 12px;
	text-decoration: none;
	text-transform: none;
	height: auto;
	padding: auto;
	border: 0px solid;
	background-color: transparent;
	color: black;
	font-weight: bold;
	margin: auto;
}
a.linkClass:hover{
	font-family: arial,verdana;
	font-size: 12px;
	text-decoration: none;
	text-transform: none;
	height: auto;
	padding: auto;
	border: 0px solid;
	background-color: transparent;
	color: black;
	font-weight: bold;
	margin: auto;
}