package com.lynxspa.sdm.dictionaries.assets;


import com.lynxspa.sdm.installer.adapters.assets.AssetDetailAdapter;
import com.lynxspa.dictionaries.ClassType;


public enum ${enumNameHere} implements AssetDetailAdapter {

${contentHere}

	private String fieldPath=null;
	private String name=null;
	private ClassType fieldType=null;
	private String format=null;
	private int maxLength=0;
	private boolean displayInTable=false;
	private int displayInTableOrder=0;
	private String displayGroup=null;
	private int displayGroupOrder=0;
	private int displayInGroupOrder=0;
	private int displayRow=0;
	private int displayColumn=0;
	private int displayTop=0;
	private int displayLeft=0;
	private String description=null;
	private boolean extension=false;
	private boolean hidden=false;
	private boolean basic=false;
	private boolean editableNormalization=false;

	${enumNameHere}(String _fieldPath,String _name,ClassType _fieldType,String _format,int _maxLength,boolean _displayInTable,int _displayInTableOrder,String _displayGroup,int _displayGroupOrder,int _displayInGroupOrder,int _displayRow,int _displayColumn,int _displayTop,int _displayLeft,String _description,boolean _extension,boolean _hidden,boolean _basic,boolean _editableNormalization){
		this.fieldPath=_fieldPath;
		this.name=_name;
		this.fieldType=_fieldType;
		this.format=_format;
		this.maxLength=_maxLength;
		this.displayInTable=_displayInTable;
		this.displayInTableOrder=_displayInTableOrder;
		this.displayGroup=_displayGroup;
		this.displayGroupOrder=_displayGroupOrder;
		this.displayInGroupOrder=_displayInGroupOrder;
		this.displayRow=_displayRow;
		this.displayColumn=_displayColumn;
		this.displayTop=_displayTop; 
		this.displayLeft=_displayLeft;
		this.description=_description;
		this.extension=_extension;
		this.hidden=_hidden;
		this.basic=_basic;
		this.editableNormalization=_editableNormalization;
	}

	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getFieldPath()
	 */
	public String getFieldPath() {
		return fieldPath;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getName()
	 */
	public String getName() {
		return name;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getFieldType()
	 */
	public ClassType getFieldType() {
		return this.fieldType;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getFormat()
	 */
	public String getFormat() {
		return format;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getMaxLength()
	 */
	public int getMaxLength() {
		return maxLength;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#isDisplayInTable()
	 */
	public boolean isDisplayInTable() {
		return this.displayInTable;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayInTableOrder()
	 */
	public int getDisplayInTableOrder() {
		return this.displayInTableOrder;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayGroup()
	 */
	public String getDisplayGroup() {
		return displayGroup;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayGroupOrder()
	 */
	public int getDisplayGroupOrder() {
		return displayGroupOrder;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayInGroupOrder()
	 */
	public int getDisplayInGroupOrder() {
		return displayInGroupOrder;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayRow()
	 */
	public int getDisplayRow() {
		return displayRow;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayColumn()
	 */
	public int getDisplayColumn() {
		return displayColumn;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayTop()
	 */
	public int getDisplayTop() {
		return displayTop;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDisplayLeft()
	 */
	public int getDisplayLeft() {
		return displayLeft;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#getDescription()
	 */
	public String getDescription() {
		return description;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#isExtension()
	 */
	public boolean isExtension() {
		return extension;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#isHidden()
	 */
	public boolean isHidden() {
		return hidden;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#isBasic()
	 */
	public boolean isBasic() {
		return basic;
	}
	/**
	 * @see com.lynxspa.sdm.dictionaries.assets.AssetDetailAdapter#isEditableNormalization()
	 */
	public boolean isEditableNormalization(){
		return this.editableNormalization;
	}
}
